[2016-01-27 14:18] gilles-duboscq opened #15 "Broken GitConfig.release_version_from_tags"
`GitConfig.release_version_from_tags` does not sort tags properly and does not do "+1 -SNAPSHOT" when not exactly on a tag

[2016-01-28 13:53] #15 closed

[2016-02-02 09:21] zapster opened #20 "Suite specific global options do not allow spaces in arguments."
Suite specific global options do not allow spaces in arguments, not even if they are quoted.

Without `=`:
[code]
With `=` and space:
[code]
With `=` without space:
[code]

Note that the `--vmprefix` comes from [JVMCI](http://hg.openjdk.java.net/graal/graal-jvmci-8/). The help information of the option is also misleading:
[code]

[2016-02-02 12:49] dougxc commented on #20
See #23

[2016-02-02 14:40] olpaw opened #24 "Consolidate mx s* commands"
Based on Roland's suggestion we should simplify mx version conflict resolution: Allow solving conflicts only by defining a specific version in the primary suite. This way, dependencies still get transitively resolved but conflicts can only be resolved by defining **an exact revision** for the conflicting dependency **on primary suite level**.

In addition to that we should remove all `s* commands`

[2016-02-02 14:46] rschatz commented on #24
It should not be the *primary* suite, but a parent suite that does the dependency resolution.

Consider the following scenario:
- repos A and B both import repo C
- repo X imports both A and B, and because of the conflict it also has to explicitly import C

Now if you have a repo Y importing only X and nothing else, it would be nice to be allowed to do so without explicitly importing C.

[2016-02-02 14:48] rschatz commented on #24
Regarding commands: `mx scheckimports` not just checks, but also offers to update the dependencies in the suite.py file. In line with your other suggestions, maybe `mx dependencies --bump` would be a good name for that functionality?

[2016-02-02 14:56] olpaw commented on #24
@rschatz `mx dependencies --bump` sounds good. Regarding *primary* vs. *parent* suite, as long as the complexity for the implementation can be kept low (i.e. no repository should be changed more than once during an `mx dependencies --update` invocation and only be changed if required) I'm fine with your suggestion.

[2016-02-02 15:14] ldaynes commented on #24
mx dependencies --list    : both listing the direct dependencies only, and listing all transitive dependencies would be useful. I would add a --list-transitive which would rely on what's needed anyway for mx dependencies --update

[2016-02-02 15:19] olpaw commented on #24
@ldaynes, mx can give you such a list only if the intermediate repos are already downloaded. Otherwise it wouldn't know where to look for the dependencies of the immediate dependencies.

[2016-02-02 15:26] ldaynes commented on #24
Right. But the same goes with mx dependencies --update
So if mx sees that there are dependencies but the dependent repos aren't cloned locally, it can report that. I guess this makes --list-transitive overlapping quite a bit with --check.
If --check already list all the transitives repos with their version and report on the one that are missing or out sync, then yes, there's no need for a --list-t

[2016-02-02 15:38] #20 closed

[2016-02-02 16:01] mrigger opened #25 "update checkstyle version to 6.15"
When using newer versions of Checkstyle the RedundantModifier module is able to find more code style violations. We need to upgrade the version but have to take care about the following things:

- The JVMCI, Graal, and Truffle violations need to be fixed. I already fixed the violations in JVMCI and Graal. Probably, we have to fix new violations shortly before using the new Checkstyle version.
- Pr

[2016-02-03 16:33] chumer commented on #24
I am heavily relying on the version-conflict-resolution=latest in GraalVM (its the reason it was developed). The idea was that I just reference all the languages and the latest Truffle version is automatically resolved by taking the latest revision from all languages that reference Truffle. Therefore a new Truffle release does not immediately break all languages but uses the latest version until o

[2016-02-03 16:40] woess commented on #24
@chumer: any conflicts that arise will have to be solved via an explicit suite import (override), which you already have, so it should continue to work just fine.

[2016-02-03 16:51] chumer commented on #24
@woess  No it will not choose the latest used automatically. If I define it in my primary suite it will get overridden with the latest available. So it does not work as before.

[2016-02-03 16:57] woess commented on #24
In the simplified dependency model, dynamic suite imports can still introduce version conflicts that can't be solved via an import in the parent suite. Such conflicts will have to be resolved by the user/builder, either manually or semiautomatically with a strategy like _latest_ or _head_.

[2016-02-03 17:43] gilles-duboscq commented on #24
For the truffle case we might to have have version dependencies (i.e., `0.11.*`) rather than depend on changesets, wouldn't that solve the problem for GraalVM?

[2016-02-03 18:08] chumer commented on #24
After some discussions, we came to the conclusion that I can live with this change if it is implemented in the way @rschatz  describes. We will just always use Truffle tip for builds.

[2016-02-11 09:49] #25 closed

[2016-02-13 00:25] mbrantner opened #46 "limit number of parallel builds"
It looks like mx either parallelizes the build up to the available number of cpus or doesn't parallelize at all (-n option). It would be great if mx build would support a -j option that allows a user to explicitly specify the level of parallelism.

[2016-02-15 10:50] dougxc commented on #46
Fixed by #47

[2016-02-15 10:50] #46 closed

[2016-02-22 14:12] chumer opened #51 "Pass HTTP_PROXY to maven commands in mx"
Maven does not respect the HTTP_PROXY environment variable by default. So I think we should pass the proxy directly on each maven call in mx like this.
mvn -DproxySet=true -DproxyHost=myproxy.com -DproxyPort=3128 eclipse:eclipse

[2016-02-22 14:38] dougxc opened #52 "Support multiple Eclipse formatter versions"
The current release of Eclipse is 4.5.1 and a number of people have expressed they are now using it. One problem though is that the formatter in 4.5 is not 100% backwards compatible with the one in 4.4 and so everyone has to keep a copy of 4.4 around to check that `mx eclipseformat` will pass the various integration gates that are currently testing with 4.4.

To support per-project opt-in adoption

[2016-02-22 16:10] dougxc commented on #51
Sounds reasonable. @gilles-duboscq can you see any reason not to make this change?

[2016-02-22 16:12] gilles-duboscq commented on #51
Sounds good to me. We should just confirm that those arguments really work for maven.

[2016-02-22 16:14] dougxc commented on #51
@chumer can you please test the change and create a PR for it.

[2016-02-22 16:16] ldaynes commented on #51
can you clarify how one pass the proxy information to mx ? You need to pass both the proxy address and the port number separately right ? Are you planning to have some default mx env variable for indicating those ?

[2016-02-22 16:29] gilles-duboscq commented on #51
mx can extract the proxy data from the `http_proxy` environment variable.

[2016-02-22 17:50] markiewb commented on #52
It's pluggable [1], that's why the 4.4-formatter can be used in 4.5 too [2] .

[1] https://www.eclipse.org/eclipse/news/4.5/jdt.php#JavaFormatter
[2] http://eclipse-n-mati.blogspot.de/2015/06/eclipse-mars-how-to-switch-back-to.html

[2016-02-22 21:07] dougxc commented on #52
Thanks for the info @markiewb ! However, as far as I can tell, still only one formatter implementation can be active at any given time in Eclipse. So you're still going to have to touch source code in Eclipse that is "compatible" with the active formatter implementation.

[2016-02-24 10:04] dougxc opened #53 "accessing non-existent attribute from URLError object"
[code]

[2016-02-24 10:06] dougxc commented on #53
This seems to be related to using mx within VPN without required proxies env vars being set.

[2016-02-24 13:02] #53 closed

[2016-02-25 11:25] dougxc opened #55 "use batching for checkstyle command"
As suggested in https://github.com/graalvm/graal-core/issues/72, the checkstyle command should use batch processing for all projects that share the same checkstyle configuration. We can probably re-use some of the batching logic from the `mx eclipseformat` command to do this.

[2016-02-26 11:42] jtulach opened #57 "Support embedded snippets in Truffle"
There is a discussion in https://github.com/graalvm/truffle/issues/19 to improve co-location of code snippets to the API that they describe. There are few needed changes in **mx** to make to current proposal functional:
- upgrade to [new version of the doclet](https://github.com/jtulach/codesnippet4javadoc/commit/515fdd141c8caed9d86afce859afb15a81054f7f) (once released)
- add additional parameters

[2016-02-26 12:30] woess commented on #57
This filtering based on the class name seems dangerous, and Graal actually has class names with "Snippets" in them.

[2016-02-26 12:38] jtulach commented on #57
There are no Snippets classes in Truffle yet, so the pattern is safe for Truffle. But I understand that using such filtering in general may be dangerous. Could the pattern be configurable per suite.py? If so, please hint me how such configuration should look like, thanks.

[2016-02-26 15:23] woess commented on #57
I don't like different patterns per suite and would prefer a one-fits-all solution. But maybe a more defensive and specific pattern like `JavadocSnippets` would already do (unlikely to conflict with anything)?

[2016-02-26 15:41] rschatz commented on #57
Even if unlikely, it would be very surprising behavior if you accidentially hit it, especially if you don't know about it. Can't we do something with an annotation? E.g. an `@MxDoNotDistribute` annotation on the class? Or perhaps some comment, similar to the already existing `//jacoco exclude`?

[2016-02-26 22:10] dougxc opened #58 "add support for running unit tests in binary dependencies"
Recently the graal-core gate switch to using Truffle as a binary dependency. This had the unfortunately side effect of stopping the Truffle unit tests from being run on Graal in the gate. To fix this we need:

- Truffle to export its unit tests as a distribution ([like Graal does](https://github.com/graalvm/graal-core/blob/master/mx.graal-core/suite.py#L1242)).
- `mx unittest` command to look in d

[2016-02-29 07:31] jtulach commented on #57
Comment is unlikely to work as the JARing operation is performed on .class files, not on sources. Annotation with `Retention.CLASS` might work.

[2016-03-02 15:52] jtulach commented on #57
Here is the new diff that introduces *general, one-size-fits-all* solution. It defines new suite tag `snippetsPattern` that is available for any suite using `mx`.

[TruffleAddSinceTag.diff](https://github.com/graalvm/mx/files/155082/TruffleAddSinceTag.txt)

Truffle sets the value to:
[code]
so the change works nicely with existing changes in https://github.com/jtulach/truffle/commit/14221e4ccdacfe

[2016-03-04 12:30] jtulach commented on #57
Let's track the progress in pull request #65

[2016-03-04 12:30] #57 closed

[2016-03-08 10:14] dougxc commented on #51
We should pull the proxy env var to system property logic from [URLConnectionDownload](https://github.com/graalvm/mx/blob/master/URLConnectionDownload.java#L44) into mx.py to unify this for both maven and URL downloading.

[2016-03-08 16:55] olpaw opened #71 "Provide def release_version(self) for BinarySuite"
The call to _updateGraalPropertiesFile()  in `mx.graal-core/mx_graal_8.py line 73` will fail with jvmci imported as binary suite because there is no definition of def release_version(self) for BinarySuite. A proper definition needs to be added.

[2016-03-09 16:55] juergenchrist opened #74 "checkstyle version bound tightly with mx version"
Updating the mx version sometimes enforces an update checkstyle version on the user.  This leads to a lot of gate failures since things work differently in newer checkstyle version.  Why is the checkstyle version bound to the mx version?  Isn't this a user setting that should be configurable in suite.py of the corresponding suite?  Then, every suite can decide on its own when to switch to a differ

[2016-03-09 17:36] dougxc commented on #51
This is fixed by #73.

[2016-03-09 17:36] #51 closed

[2016-03-09 21:17] dougxc commented on #71
Have you seen a failure? If so, under what conditions?

This should not fail as this code is only called when building the JVMCI JDK and when JVMCI is a binary suite this step is not necessary.

[2016-03-10 10:18] juergenchrist opened #75 "Allow to specify output directory of mx build"
We would like to specify the directory where mx build should put files.  On larger systems this could be used to place build results on a ramdisk to speed up things.  At the moment I cannot specify the root directory, only the build subdirectory for every suite (as far as I see/understand).  Please add a command line option to specify the build root directory.

[2016-03-10 12:41] olpaw commented on #71
Yes. We have a project that transitively depends on jvmci that builds (and uses) jvm-product-server-linux-amd64. If I binary deploy all transitive dependencies and then use them via `MX_BINARY_SUITES='' mx build` it will work fine except for binary artifact for jvm-product-server-linux-amd64. There mx tries to call `_updateGraalPropertiesFile()` and fails in line 73 because now jvm-product-server-

[2016-03-10 12:51] dougxc commented on #71
When you execute `MX_BINARY_SUITES='' mx build` isn't the jvmci source suite resolved (and downloaded if necessary) bypassing the jvmci binary suite altogether?

[2016-03-10 12:53] olpaw commented on #71
I will send you a console log via email.

[2016-03-10 17:04] dougxc commented on #71
Sorry, I got confused and interpreted `MX_BINARY_SUITES=‘’` to mean don’t use binary suites. Also, I didn’t see any failure with graal-core as the primary suite. Obviously, it has to be an imported binary suite to see the problem!

What does your dummy implementation look like? Worth creating a PR from it?

[2016-03-10 17:56] olpaw commented on #71
I don't think so:
[code]

[2016-03-10 19:09] dougxc commented on #71
That seems reasonable to me - where else could we get version info from?

[2016-03-11 10:37] zapster opened #78 "sforceimports does not fetch from the repository specified in the suite"
`mx sforceimport` does not use the location specified in the suites to fetch new revisions but the default remote of the clone. This is for example a problem if one uses a fork as default but the fork does not contain the revision that is requested.

[code]

results in:

[code]

I think we should per default fetch from the repository specified in the suite and add a flag to disable the behavior fo

[2016-03-11 10:37] zapster commented on #78
/cc @gilles-duboscq

[2016-03-11 17:57] tkrodriguez commented on #78
I'd say it should check that the repo has a remote which is the same as the one specified in the suite and complain.  It could maybe offer to add the remote or tell you how to do it.  We also seem to be assuming that after a fetch the changeset we are looking for will be there.  Maybe we should rerun the exists query after the fetch to ensure we really got the result we expected.

[2016-03-11 19:05] dougxc commented on #78
@zapster, I think it would be best if someone who uses `sforceimport` takes on this issue.

[2016-03-11 19:15] tkrodriguez commented on #78
Well I do think that GitConfig.pull should complain if the pull doesn't produce the rev being requested.  hg doesn't have this problem but git simply ignores the rev because you can't really pull a particular rev with git.  That's the source of the fatal messages because we later assume the rev is there but it's not.

If you don't use sforceimport what do you use?  Manually getting revs from the s

[2016-03-11 20:27] dougxc commented on #78
Yes.

[2016-03-14 09:01] zapster commented on #78
#81 is already a great improvement, thanks @tkrodriguez. I'd still like a flag that uses the specified upstream repo (maybe `--upstream`?). I will look into it.

[2016-03-15 17:07] dougxc commented on #75
Fixed by #79

[2016-03-15 17:07] #75 closed

[2016-03-15 18:12] zapster opened #84 "Move `mx microbench` from graalvm/graal-core to mx"
In graalvm/graal-core we have the `mx microbench` [command](https://github.com/graalvm/graal-core/blob/9e1f376e6dac74cab81f57fb98396366e896f4e1/mx.graal-core/mx_graal_8.py#L111)  which looks for [JMH](http://openjdk.java.net/projects/code-tools/jmh/) benchmarks and runs them. This functionality should be moved to mx.

[2016-03-16 16:07] #84 closed

[2016-03-17 13:33] gilles-duboscq opened #88 "Add option to automatically extract native tar distribution to the right places."
As part of #87, an `output` attribute was added to be able to extract the contents of the distribution. However to get to a meaningful state, the `output` attribute has to match exactly the `output` attribute of the project that was included in the tar.

We should so that automatically and provide a boolean `extract` attribute.

[2016-03-17 13:54] woess opened #89 "output path of the mx binary distribution jar file is hardcoded to "dists""
Distribution jar files go into `<output_root>/dists/` (usually `mxbuild/dists/`) but the `<suite>-mx.jar` file is still hardcoded to go into `dists/`. I believe this is a bug and it should go into the same directory as the other jar files.

[2016-03-17 14:17] olpaw opened #90 "Canonicalization Check fails (makes it impossible to depend JavaProject on NativeProject)"
The suite.py constellation below causes:
[code]
I think it should be possible for a JavaProject to depend on a NativeProject:
[code]
Here `com.oracle.xxx.core.dis` depends on `com.oracle.xxx.core.dis.native`. Unfortunately using the definition above results in the error shown before.

[2016-03-25 15:31] juergenchrist opened #108 "mx eclipseinit adds native projects to .classpath"
mx eclipseinit should not add a project with "native : True" to the .classpath file.  This generates an invalid eclipse configuration.

[2016-03-25 17:43] dougxc commented on #108
@juergenchrist, any chance you could submit a PR for this? Should be straightforward.

[2016-03-28 15:15] #74 closed

[2016-03-28 20:00] dougxc opened #111 "remove notion of VM from mx as it is only relevant for JVMCI"
The options `--vm` and `--vmbuild` and environment variable `DEFAULT_VM` are specific to the jvmci suite and so should not appear in core mx at all. They were only left there to ease the transition from single to split repos.

[2016-03-29 09:57] #108 closed

[2016-09-09 17:09] christhalinger opened #120 "mx requires Mercurial and Git"
When building in Jenkins we noticed this:

[code]

mx shouldn't require Mercurial when all your repositories are Git ones.

[2016-09-09 17:10] #111 closed

[2016-09-09 17:17] dougxc commented on #89
@woess , do you know if anyone depends on this hard coded path by now?

[2016-09-09 18:16] christhalinger commented on #120
Oh, it needs all VCS tools now:

[code]

[2016-09-09 18:53] christhalinger commented on #120
It gets better... I'm installing Mercurial and Git now and:

[code]

[2016-09-09 19:03] smarr commented on #120
I think I saw something similar. If I remember correctly, there is somewhere code that tries to read the version, for instance, of the graal-jvmci-8 repo during building.

[2016-09-13 23:56] woess commented on #89
@dougxc, not that I know of.

[2016-09-14 10:20] dougxc commented on #89
Then can you please create PR for the behavior you request.

[2016-09-14 13:47] dougxc commented on #120
@christhalinger , can you please test the following patch to see if it fixes the issue in your environment:

[code]

[2016-09-14 17:24] christhalinger commented on #120
Sort of.  I used https://github.com/graalvm/truffle/releases/tag/graal-vm-0.16 and https://github.com/graalvm/truffle/releases/tag/graal-vm-0.16 and `eclipseinit` results in:

[code]

A `build` works fine.

[2016-09-14 20:53] dougxc commented on #120
Ok, `eclipseinit` is fixed. Are there any other commands you care about that don't work without a VC dir?

[2016-09-14 21:20] christhalinger commented on #120
No, everything else seems to work fine.  But I noticed this (which seems unrelated):

[code]

[2016-09-14 21:37] dougxc commented on #120
Ok, I'll fix that and the push changes.

[2016-09-14 21:43] dougxc commented on #120
@christhalinger , please confirm https://github.com/graalvm/mx/commit/85b30ce56df7add4d41d32daac80d2bc6010f362 fixes the issue.

[2016-09-14 22:48] christhalinger commented on #120
Locally it works, thanks.  I'll do a Jenkins build now...

[2016-09-14 23:32] christhalinger commented on #120
The output is a little confusing but it works:

[code]

[2016-09-15 14:16] dougxc commented on #120
Warnings should be fixed by https://github.com/graalvm/mx/commit/e6de4f81626759af3c2b7793f046c63c43c750ae

[2016-09-15 14:16] #120 closed

[2016-10-06 01:25] woess commented on #89
I would expect the jars to go into `join(suite.get_output_root(), 'dists')` but I also see usages in class `BinaryVC` which I'm not sure have to be changed, too.
I don't really care enough about this issue to deal with the intricacies of binary dependencies, so I'll rather close it as wontfix instead.

[2016-10-06 01:25] #89 closed

[2016-10-06 09:10] eregon commented on #89
FWIW, what's the `<suite>-mx.jar` jar?

[2016-10-06 13:32] mickjordan commented on #89
It's all the suite-specific mx files, e.g. mx_suite.py

[2017-04-14 22:00] christhalinger opened #131 "lack of .git directories results in: AttributeError: 'NoneType' object has no attribute 'parent'"
At Twitter our CI system builds from a source bundle which doesn't include `.git` directories. This has already been an issue a couple times in the past and now again with version `5.86.0`:

[code]

[2017-04-14 22:01] christhalinger commented on #131
This patch fixes it:

[code]

but I don't know if that's the right fix.

[2017-04-15 10:26] dougxc commented on #131
I can apply this fix if it works for you. However, until time is invested in making mx work without version controlled repos, you may run into further issues. Part of such an effort would include adding an mx gate test to ensure such usage doesn't regress. Such an exercise would start something like this:
[code]

[2017-04-16 13:34] koctbik opened #132 "Readme file link leads to missing page"
Instruction about how to run mx point at
https://wiki.openjdk.java.net/display/Graal/Instructions
which is absent

Would you kindly restore the page or somehow restore the contents.
Also the number of concern line if 19.

[2017-04-17 09:16] dougxc commented on #132
I'm fixing it to point to https://github.com/graalvm/graal-core/blob/master/README.md

[2017-04-17 12:07] koctbik commented on #132
Ok, thanks whether it is the same as oracle's one.

[2017-04-17 12:07] #132 closed

[2017-04-17 16:08] dougxc commented on #132
Fixed in https://github.com/graalvm/mx/commit/4c79e246428c79fdc0bf1a10efca4cfb05086215

[2017-04-19 01:53] christhalinger commented on #131
Yes, please integrate this fix.

[2017-04-19 21:27] dougxc commented on #131
Done: https://github.com/graalvm/mx/commit/f6ad1d2cf6818350039b7441313ec14ac96c56a9

[2017-04-19 21:27] #131 closed

[2017-07-03 07:40] pointhi commented on #52
With the new Eclipse 4.7 release, there was a little change of the formatting of block comments. Which means lines which are formatted on my computer doesn't validate on the ci-system with ```mx eclipseformat``` vice versa.

It seems the option ```Count width from comment's starting position``` was enabled.

[2017-08-09 09:35] pekd opened #136 "Empty lines on a multi-core system"
On a multi-core system (with Python 2.7.13), mx occasionally prints empty lines:
[code]

[2017-09-20 14:57] #136 closed

[2018-01-17 17:32] dougxc commented on #90
Can we close this issue @olpaw ?

[2018-04-21 18:16] fniephaus opened #146 "mx gate always clones full history of dependencies"
I'm running `mx gate` on my CI infrastructure and my project depends on [graal](https://github.com/oracle/graal) which has grown a lot recently. Consequently, it takes quite some time to clone the entire history. It'd be great to have an option to tell mx to not clone the full history. I found this [related TODO in the code](https://github.com/graalvm/mx/blob/5fe419091c2e7259e0b77672f22a5675e154f7

[2018-04-21 20:00] eregon commented on #146
Hello,
I assume you use a normal mx suite import in suite.py with a revision like https://github.com/oracle/truffleruby/blob/533f430d8a2eed49390442ab303996894e4e24a7/mx.truffleruby/suite.py#L7-L15
In that case, I think it's not easy to know which git `--depth` would be needed as the imported revision might be quite behind master and it wouldn't resolve if `--depth` is not large enough.

[2018-04-21 20:27] fniephaus commented on #146
@eregon that's right. However, it's also possible to fetch just one specific commit (see [here](https://stackoverflow.com/a/3489576)).

[2018-04-21 21:32] fniephaus commented on #146
@eregon oh, you're right. Well, maybe it'd be good enough to support branches and tags the way you mentioned *as well as GitHub*. Instead of cloning, mx could just download:

`https://github.com/graalvm/mx/archive/{commit}.zip`

Example:
https://github.com/graalvm/mx/archive/56081af2d974b1650181f3d8496e1dd90a6a583b.zip

[2018-05-04 05:41] ymolists opened #147 "did anyone generate gradle files from mx ?"
The code in mx.py is simple to follow to generate gradle files instead of eclipse/intellij. Has anyone done this yet ? and anything i should be worried about ?

I am worried that the conversion might not be as easy as i am thinking it will be ? anything i should watch out for ?

[2018-05-04 15:00] ymolists commented on #147
That would be super amazing thank you !

[2018-05-07 09:03] harmanpa opened #148 "Output directory in _get_jdk_module_jar doesn't work on Windows"
The `jdkOutputDir` path in `_get_jdk_module_jar` is determined using the `jdk.home` property, with the leading slash removed:
https://github.com/graalvm/mx/blob/d14e55ab0f64d0384dc3c8fe27eb96c2408d3352/mx.py#L13246

However on Windows this doesn't work as there is the drive letter also to remove, the following works though there may be a neater implementation:

    if get_os() == 'windows':

[2018-05-07 09:32] dougxc commented on #148
can you please let me know if the following works (I don't have access to Windows):
[code]

[2018-05-07 15:47] harmanpa commented on #148
Yes that works, thank you

[2018-05-07 15:49] dougxc commented on #148
This fix in now merged: daa2439cd23cec3b3b7050ea30070bb5e57112ea

[2018-05-07 15:49] #148 closed

[2018-05-08 11:31] fniephaus opened #149 "Versions not tagged"
It'd be great if new versions could be git-tagged. This would make it easier to check out specific versions of mx without having to browse through the commit history.

[2018-05-08 13:52] zakkak commented on #149
@dougxc some changes break backwards compatibility and require changes in `suite.py`. Being able to seamlessly get a specific mx version that is known to work with a project would be nice. Maybe tagging major releases (that break backwards compatibility) would be enough.

[2018-05-08 14:47] dougxc commented on #149
This is actually a reasonable request - I'm just balking because we don't currently have a good way for automatically tagging mx commits based on mx version ;-) We'll look into how to do this.

In the meantime, here's a shell command that gives you a rudimentary mapping from git commits to the mx version update they made:
[code]

[2018-05-09 11:15] dougxc commented on #149
Fixed by 0b1924f795e86410407e6211e005d38dc4b63ceb

[2018-05-09 11:15] #149 closed

[2018-06-01 21:45] fniephaus opened #150 "project com.oracle.truffle.api.dsl was removed as JDK 1.8 is not available"
My JDK9-based CI builds running mx `5.172.0` are failing because various projects are "removed as JDK 1.8 is not available". AFAICT related changes were introduced with https://github.com/graalvm/mx/commit/1c4adb1e3a6ca813ff4a693c7fcc7b48bb1b3085 and it seems the problem is that Graal's and Truffle's suite.py haven't been updated yet (e.g. with `"javaCompliance" : "1.8+"`). I have been running CI

[2018-06-01 22:13] dougxc commented on #150
Graal and Truffle's suite.py will probably not be updated. At least, not all projects since some of them use JDK 8 internal API and hence now *require* a JDK 8 to build. For more background on this change, see http://mail.openjdk.java.net/pipermail/graal-dev/2018-June/005410.html. Sorry for the inconvenience but this change was necessary as we start to work on supporting SVM on JDK 11.

[2018-06-01 22:15] dougxc commented on #150
Feel free to re-open (or reply to mail on graal-dev list) if you have further questions.

[2018-06-01 22:15] #150 closed

[2018-06-01 22:16] fniephaus commented on #150
Thanks for the update!

[2018-06-09 10:36] JornVernee opened #151 "Testing mx?"
Hello,

I have been fiddling around with a local copy of mx to see what it would take to port to python 3. But testing that the code I've written actually works is tricky, since python is lazily evaluated/parsed.

I'm wondering if there is a test suite for mx? I thought the mx repo was itself an mx suite and would have some tests in there, but running `mx unittest` from the repo root just freezes

[2018-06-09 11:10] JornVernee commented on #151
Looks like that is the case. Sorry, should have tried a little longer before asking here.

[2018-06-09 11:10] #151 closed

[2018-06-12 17:13] JornVernee opened #152 "`mx gate` fails on unchanged master when using multiple drives"
I've been fiddling around with a local copy of the mx repo and wanted to test my changes using `mx gate`, but I kept running into the same error.

Then I tried just running `mx gate` on the unchanged master branch and got the same error. The error is:

[code]

This looks like a Windows only problem, so I'll look into fixing it myself as well, but any suggestions are appreciated.

[2018-06-12 18:34] JornVernee commented on #152
Looks like it's working when using the cygwin shell

[2018-06-12 18:34] #152 closed

[2018-06-18 08:10] fniephaus opened #153 "TypeError: can only concatenate tuple (not "str") to tuple"
When trying to build graal/tools, I'm getting the following error:

[code]

[2018-06-18 08:13] fniephaus commented on #153
Working around this issue reveals the real problem:

[code]

[2018-06-18 09:07] dougxc commented on #153
Hi @fniephaus , thanks for the report. I'm pushing a fix for the TypeError failure now.

[2018-06-18 09:50] dougxc commented on #153
Fixed in https://github.com/graalvm/mx/commit/f399c41edc06b5e7c4109b8f785303feb811c7b3.

[2018-06-18 09:50] #153 closed

[2018-07-05 13:18] fniephaus opened #154 "Upgrade JaCoCo dependency"
Since [`v0.8.1`](https://github.com/jacoco/jacoco/releases/tag/v0.8.1), JaCoCo supports Java 10 and therefore, it'd be nice if the mx dependency could be updated at some point.

[2018-07-05 13:53] dougxc commented on #154
Unfortunately, we've let our usage of JaCoCo fall a bit by the wayside. If you use it via mx, then this would be a great opportunity to add support for `0.8.1` to mx and test it out. Wanna give it a go? ;-)

[2018-07-07 11:06] fniephaus commented on #154
As it turned out, our Truffle language has some problems running on JDK10, but runs fine on JDK11. Hopefully, it won't take to long until JaCoCO supports JDK11. But this also means upgrading to 0.8.1 doesn't get us anywhere at the moment. Anyway, I might give this a try when I have a free minute.

[2018-08-02 21:39] neomatrix369 opened #157 "[Question] Can you show some examples of passing JVM args via mx"
I had a look at the help via --help and it mentions these:

[code]

I would like to pass `-Xms2g -Xmx2g -XX:+PrintFlagsFinal` to the `mx` command i.e.

[code]
if `JAVA_OPTS=-Xms2g -Xmx2g -XX:+PrintFlagsFinal` then, the above would look like:

[code]

Is this above syntax correct?

But it does not seem like my command options are accepted by `mx`.

Can you please provide a few examples.

[2018-08-02 22:04] neomatrix369 commented on #157
Another question does `mx` read off `JAVA_OPTS` environment variable, if not, any other env variable to gather extra JVM args?

[2018-08-03 09:03] farquet commented on #157
Your command works and actually passes the flag to the VM : `mx --J @"-Xms2g -Xmx2g -XX:+PrintFlagsFinal" build`
However, to actually see your flags in stdout, you need to be in verbose mode by also passing `-v` to mx.
So, this will print the flags : `mx -v --J @"-Xms2g -Xmx2g -XX:+PrintFlagsFinal" build`:
[code]
Note that the verbose output is very convenient to see the actual calls to `java` wit

[2018-08-03 14:11] neomatrix369 commented on #157
Thanks @farquet  that's helpful, I have applied it already

[2018-08-03 14:11] #157 closed

[2018-08-24 08:22] oroppas opened #158 "addSrcFromDir needs _safe_path() on Windows"
[code]

[2018-08-24 08:29] dougxc commented on #158
Hi @oroppas  thanks for opening this issue. Maybe you would be able to submit a PR to fix this? I don't have a Windows machine handy to test this.

[2018-08-24 21:55] thiagogcm commented on #154
0.8.2 released with experimental JDK11 support
https://www.jacoco.org/jacoco/trunk/doc/changes.html

[2018-08-25 21:02] fniephaus commented on #154
@thiagogcm thanks for the info. I've opened #159.

[2018-10-05 08:01] fniephaus opened #160 "JaCoCo Code Coverage broken in 5.187.0"
https://github.com/graalvm/mx/commit/c0d2274455aac146a2b95817bd39934295cfd073 by @zapster has introduced changes that let coverage testing fail on our CI servers when mx `5.187.0` is used. Example error:
[code]

[2018-10-05 08:47] zapster commented on #160
Hi Fabio, hanks for your report!
Can you give a little bit more details, e.g., a command line which used to work but does no longer after the change so I can reproduce the issue locally?
More specifically, are you running with a `/compiler` import or not?

[2018-10-05 08:57] fniephaus commented on #160
I'm afraid I don't have a command line for you to reproduce since our project is not public at this time. But yes, we are running it with a `/compiler` import. I googled the error which brings up different reasons...I haven't figured out yet which one applies here

[2018-10-05 09:12] zapster commented on #160
I believe I've spotted the issue. The JaCoCo agent is attached twice, by mx and by the `/compiler` suite. So the error message is indeed quite accurate. :)
I'm preparing a fix.

[2018-10-05 09:20] fniephaus commented on #160
Perfect, thanks!

[2018-10-05 10:08] zapster commented on #160
Should be fixed with [5.188.1](https://github.com/graalvm/mx/releases/tag/5.188.1). Can you verify and close the issue if it is fixed?

PS: nice to see that someone cares about coverage. :)

[2018-10-05 12:03] fniephaus commented on #160
Works like a charm, thanks!

PS: coverage is too important to not care about. ;)

[2018-10-05 12:03] #160 closed

[2018-10-05 12:11] zapster commented on #160
Glad to hear that things are fine again and sorry for the inconvenience.

[2018-10-05 13:05] fniephaus commented on #160
No problem! Things break sometimes when they are moving fast :)

[2018-10-10 21:53] zakkak opened #161 "`startswith` matching of annotated commands limits options for new commands"
The following code segment (from https://github.com/graalvm/mx/blob/master/mx.py#L18557):

[code]

forbids the use of commands with names such as `test`, `up`, etc. Actually any command that happens to be a prefix of an annotated built-in command. (and as the number of such commands grows, the restrictions become more and more)

I understand that it is simple to work-around this issue by using a d

[2018-10-11 08:31] dougxc commented on #161
This sounds like a reasonable suggestion to me. It does mean that the following commands can no longer be abbreviated on the command line:

annotation | commands
-----------|------------
suite_context_free | init, version, urlrewrite, benchtable, benchplot, sha1, sclone, scloneimports, update
no_suite_discovery | testdownstream, sforceimports
no_suite_loading | pylint, supdate, sbookmarkimports, s

[2018-10-11 13:00] gilles-duboscq commented on #161
it's a good idea. It might break some scripts though (e.g., `mx sforceimport`).

[2018-10-11 20:12] zakkak opened #162 "checkstyle urls in suite.py are broken"
The following urls from suite.py give 404:

https://github.com/graalvm/mx/releases/download/checkstyle-6.0/checkstyle-6.0-all.jar
https://github.com/graalvm/mx/releases/download/checkstyle-6.15/checkstyle-6.15-all.jar
https://github.com/graalvm/mx/releases/download/checkstyle-8.8/checkstyle-8.8-all.jar

[2018-10-11 20:16] zakkak commented on #162
False alert, this is for an older version.

[2018-10-11 20:16] #162 closed

[2018-10-14 10:03] dougxc commented on #161
I think that's only true if the scripts depend on the semantics of the annotation applied to the command. For example, `mx sforceimport` will still correctly invoke the [`sforceimports` command](https://github.com/graalvm/mx/blob/master/mx.py#L16849). It just won't disable suite discovery (i.e. the `@no_suite_discovery` annotation will have effect).

[2018-10-14 23:57] ccleve opened #163 "mx fails with "no primary suite found""
All mx commands fail on my system with:

"no primary suite found for < command name >"

I'm on Windows with the latest release, but I've confirmed it happens on Ubuntu as well.

Bigger problem: there is no documentation anywhere on what a suite is. There is some mention of suites here: https://github.com/graalvm/mx, but it's not enough. Not sure how to fix the problem.

[2018-10-15 07:54] dougxc commented on #163
Hi @ccleve , I admit that the documentation for mx is somewhat lacking. We will try to address this over time.
What directory are you executing `mx` in? It needs to be in a directory corresponding to a suite (i.e. a directory that has a `mx.<suite name>` directory in it. The message you're getting is similar to what happens if you run `make` in a directory without a make file.

[2018-10-15 15:06] ccleve commented on #163
The only documentation I can find on what a suite is is here: https://github.com/graalvm/mx. It's not enough for me to create one and make it work. Is there anything that describes what goes into suite.py?

[2018-10-15 15:09] dougxc commented on #163
The only other documentation is in https://github.com/oracle/graal/blob/master/compiler/README.md#building-graal. It's best to look at existing suites such as https://github.com/oracle/graal/tree/master/compiler/mx.compiler.
It would also help to know what you are trying to do.

[2018-10-15 15:27] ccleve commented on #163
I get it now. Suite.py is like a Maven pom. Still would be helpful to have reference docs on the format.

All I was trying to do is "mx ideinit" to set up a new project.

[2018-10-15 15:36] zakkak commented on #161
@dougxc I don't see why.

By just removing the following lines:

[code]

I would expect everything to be as it is now, except from the abbreviation support (i.e. typing `mx sforcei` instead of `mx sforceimports`). This should be enough to allow the definition of commands that happen to be prefixes of the annotated commands.

[2018-10-15 16:30] dougxc commented on #161
I was replying to @gilles-duboscq 's command and saying that I don't think we'll even break existing scripts. There's still abbreviation support [here](https://github.com/graalvm/mx/blob/master/mx.py#L18659-L18666). The only difference is that annotated commands will loose the semantics of their annotations if they are abbreviated.

[2018-10-15 17:58] zakkak commented on #161
Oh now I see, I initially misunderstood both comments. Thanks for the clarification.

[2018-10-16 08:08] dougxc commented on #161
Should be fixed by https://github.com/graalvm/mx/commit/4fb307edf8a395ff92ad2c57c55d8cd1e10bae9f.

[2018-10-16 08:08] #161 closed

[2018-10-16 10:36] zakkak commented on #161
Thanks a lot @dougxc :)

[2018-11-08 11:41] JornVernee opened #165 "Running mx gate on the mx suite throws an error on Windows"
When running the `mx gate` command on the mx repo/suite I'm seeing the following error:

[code]
The full log can be found here: https://gist.github.com/JornVernee/6b4d368d1ff241d40e5b750adab0ce82

[2018-11-08 11:45] JornVernee opened #166 "Running the mx help command on the jdk/jdk .mx.graal suite throws an error on Windows"
When running the `mx help` command on the graal suite included with the openjdk [1] I'm seeing the following error:

[code]

Please note that while the directory is located in the cygwin file system, I'm running this command in PowerShell.

[1] : http://hg.openjdk.java.net/jdk/jdk/file/4547f8303f2d/src/jdk.internal.vm.compiler

[2018-11-08 20:48] JornVernee commented on #165
I have a have a patch for this and some other minor errors that needed fixing to get `mx gate` passing, but I'm waiting for https://github.com/graalvm/mx/pull/164 and https://github.com/graalvm/mx/pull/167 to be merged before making a PR since I'm downstream from those.

[2018-11-08 21:07] JornVernee commented on #166
This seems to be caused by the path using a unix path separator `share/classes` if I change all those paths to `share\\classes` the error goes away.

I think paths coming from a suite should be 'sanitized' to use the right path separator, but I'm not sure where to do that.

[2018-11-09 11:37] JornVernee opened #168 "Python 3 support."
Is python 3 support planned at all?

I was having a problem with paths exceeding max path length on Windows, and this is apparently fixed in python 3.6 (I worked around the problem by moving the suite directory closer to drive root)

I'm not a python expert, but I've seen applications supporting both python 2 and 3 before by using `import __future__`. Would that be a possible migration path?

[2018-11-09 11:47] JornVernee opened #169 "`mx igv` does not recognize java homes as right version."
When running `mx igv` on the graal/compiler suite I get this error:

[code]
It looks to me like I have several usable Java installations, but for some reason they are not being picked up.

Retrying with e.g. `--java-home 'C:\Program Files\Java\jdk-10'` throws the same error.

[2018-11-09 13:00] dougxc commented on #169
@JornVernee please file this at https://github.com/oracle/graal/issues instead as it is a Graal issue, not an mx issue.

[2018-11-09 13:09] JornVernee commented on #169
@dougxc Ok sorry, I thought the igv command was a component of standard mx as well.

Filed at: https://github.com/oracle/graal/issues/793

[2018-11-09 13:09] #169 closed

[2018-11-09 14:27] JornVernee opened #170 "mx.py uses os.symlink, which is not supported on Windows"
For instance, when running `mx build` in the graal/vm suite (and after working around https://github.com/oracle/graal/issues/795) I get the error:

[code]

Which is originating from `mx.py`.

The problem seems to be that `os.symlink` is not supported on Windows, at least not before python 3.2 it seems.

Stack Overflow offers some workarounds [1], which I've tested and they seem to work, but later

[2018-11-10 21:37] dougxc commented on #168
We don't have any current plans for supporting python 3. However, we're open to anyone who wants to put together a plan and PR for adding python 3 support while ensuring mx will continue to work on 2.7.

[2018-11-11 01:04] JornVernee commented on #168
@dougxc I've looked into this once in the past. Of course Windows support wasn't as good as now, so I wasn't able to fully test my changes, but there were only 6 issues I ran into;
1. print is a function in python 3, but you can get forward compatibility by using `import __future__`, and installing the `future` package in python 2.
2. python 3 doesn't have a `cmp` function, but there are easy work

[2018-11-12 12:43] JornVernee commented on #168
@dougxc I have a patch to move to using `print` function in the `mx` repo, and it turned out there's no need to install an extra package after all, so clients don't need to update anything. Are you OK with submitting changes one by one instead of one big patch that adds python 3 support?

I've looked a little more into getting `mx` to work with python 2 & 3, but the changes I made in the past were

[2018-11-12 12:50] dougxc commented on #168
With adding python 3 support to mx, I think fined grained pull requests to the master branch is the best way to go to avoid regressions.

[2018-11-12 16:20] #165 closed

[2018-11-22 12:39] zakkak commented on #166
I have experienced the same issue.
Additionally, `wsloc` in `generate_eclipse_workingsets` in mx.py uses unix path separators breaking `mx eclipseinit` on windows.

[2018-11-22 12:44] zakkak opened #175 "`mx intellijinit` does not work on windows when project dir drive != user's dir drive"
Having an mx project in drive "D" and the user's directory in "C" breaks `mx intellijiniit` on windows.

I have traced the issue to be related to the use of `os.path.relpath` in `_intellij_suite`.
mx tries to create relative paths from the project directory to the `.mx` directory which is on a different drive, thus making the creation of a relative path impossible.

[2018-11-24 18:35] JornVernee commented on #175
This should have been fixed by https://github.com/graalvm/mx/pull/164

Do you have the latest version of mx?

[2018-11-25 16:01] zakkak commented on #175
You are right, I was testing with 5.190.3. Just tried with 5.194.3 and it works.

Thanks a lot. Both for the contribution as well as for the heads up.

[2018-11-25 16:01] #175 closed

[2018-11-27 18:57] JornVernee commented on #168
Been looking into this some more today.

The train seems to stop at some point because the current version of astroid does not support new python 3 versions.

What is the reason for not updating to the latest version currently?

[2018-11-27 21:48] dougxc commented on #168
There no reason apart from no one having tested a more recent version ;-)

[2018-11-27 22:22] JornVernee commented on #168
Well... now somebody has: https://github.com/graalvm/mx/pull/176 ;)

[2018-11-30 00:04] JornVernee commented on #168
I currently have `mx --strict-compliance gate --strict-mode` passing on the `mx` suite  with both python 2.7.15 and 3.6.5

You can find the changes here: https://github.com/JornVernee/mx/tree/p3_other

I will split up the branch into several PRs. I haven't posted all of them yet since some are not orthogonal and might conflict, so I'm waiting for some of the PRs to get merged first.

[2018-11-30 10:36] dougxc commented on #168
Hi @JornVernee sorry for delays on your PRs related to mx moving to Python 3 and Windows support. They are definitely very welcome and we will try and move them along.

[2018-11-30 11:20] JornVernee commented on #168
@dougxc I thought the internal gating/process was just taking a while. I know there's been some conferences lately (e.g. devoxx) and I guess people have been going there as well?

It's no problem for me, I just made a bunch of PRs just to get them out there and make progress on that for myself :-)

[2018-12-01 15:14] JornVernee commented on #166
Possible fix:

[code]

[2018-12-13 16:51] #154 closed

[2018-12-13 17:16] fniephaus commented on #154
🎉 thanks!

[2018-12-13 19:16] christhalinger commented on #154
So close with the hash...

[2019-01-09 08:41] dougxc commented on #158
@pejovica should this now be fixed by other Windows related changes to mx?

[2019-01-09 11:32] pejovica commented on #158
Yes, it should be fixed by #171.

[2019-01-09 14:12] dougxc commented on #158
Thanks. @oroppas please re-open if you still see this problem.

[2019-01-09 14:12] #158 closed

[2019-01-10 00:30] oroppas commented on #158
Thank you @pejovica, @dougxc.
Yes, it's fixed by #171.

[2019-01-15 02:20] JornVernee commented on #168
I will close this now since #184 was merged.

[2019-01-15 02:20] #168 closed

[2019-02-22 03:26] zakkak commented on #146
For branches it should be as easy as:

[code]

do you think there are cases where using `--depth 1` in combination with `--branch <branch>` could cause an issue?

[2019-02-22 05:27] zakkak commented on #146
@fniephaus you may use `MX_GIT_CACHE` as well to speedup your CI pipelines.

[code]

[2019-02-22 14:46] fniephaus commented on #146
I don't understand how MX_GIT_CACHE would help speeding up CI builds on public infrastructure that doesn't keep state between builds. MX_GIT_CACHE uses a cache on disk and on a fresh system, that cache always needs to be downloaded first. Cloning from scratch is probably faster than that or am I missing something?

[2019-02-22 16:38] boris-spas commented on #146
Just in case, double check if your CI infrastructure allows for caching content e.g. https://docs.travis-ci.com/user/caching/

[2019-02-22 19:41] zakkak commented on #146
@fniephaus yes if caching is not possible on your CI setup, then `MX_GIT_CACHE` doesn't make sense. For Maxine we are using Jenkins and docker agents. To make sure we don't fetch all the dependencies for every job we are mounting the host `~/.mx` to `~/.mx` on the docker containers. With `MX_GIT_CACHE` we are able to further decrease Job times by ~2mins.

[2019-02-24 06:59] fniephaus commented on #146
@boris-spas I know that TravisCI supports caching...but like I said before, build performance is unlikely to improve because of it. It's only useful when caching stuff that takes some time to compute (e.g. custom built third party libraries). Not cloning the entire commit history, on the other hand, does improve the time to `git clone`.

[2019-03-08 18:50] zakkak opened #186 "mx checkstyle gives "OSError: [Errno 7] Argument list too long" on MacOS"
Running `mx checkstyle` on MacOS mojave 10.14.3 gives "OSError: [Errno 7] Argument list too long" despite the workaround in https://github.com/graalvm/mx/blob/c0be32f780be20a4f6062113533786bbc833acae/mx.py#L12853

Changing the value of `commandLinePrefixAllowance` to `21135`, seems to do the trick (probably a larger number would be safer).

[2019-03-10 19:19] dougxc commented on #186
Hi @zakkak thanks for the report. What suite are you running this on? Also, how did you come up with 21135? The safer thing to do would be to simply pass in the command line prefix to `_chunk_files_for_command_line` so that there's no need for heuristics at all. Any chance you want to try and put up a PR with that change?

[2019-03-10 20:40] zakkak commented on #186
Hello @dougxc.

This is with the maxine suite https://github.com/beehive-lab/Maxine-VM/tree/develop

I came up with 21135 through trial and error, no calculation in there.

The thing is that the prefix is 680 characters long :/ (see bellow), so I don't see any connection with
21135.
[code]

The only reason I did not is because last time I opened a PR there was some issue with my OCA form, so for t

[2019-03-10 20:56] dougxc commented on #186
Can you please try [this patch](https://github.com/graalvm/mx/files/2950049/fix_command_line_chunking.txt) to see if it fixes the problem.

[2019-03-10 23:54] zakkak commented on #186
I tried the patch and unfortunately it does not work.
The reason is that it does not account for the length of the prefix added by the `run_java` method.

In maxine's case this is
[code]

I guess (didn't try it) it will also not always work for the formatter since `env` is not taken in account.

[2019-03-11 09:01] dougxc commented on #186
Can you please provide me steps to reproduce including which GitHub repo to clone.

[2019-03-11 09:04] dougxc commented on #186
The `env` line is not part of the command line so that should not matter. It's just printed to look like a command line prefix to make it easier for copy-pasting when reproducing a failed mx command.

[2019-03-11 09:34] dougxc commented on #186
I've pushed a branch that tries to account for the `run_java` prefix: https://github.com/graalvm/mx/commits/ds/GR-14378. Please let me know if that works.

[2019-03-11 19:54] zakkak commented on #186
[code]

I don't have access to that link, I also checked on the repository for other branches but did not find any.

[2019-03-11 21:20] dougxc commented on #186
Thanks. I'm going to apply this patch:
[code]
I've tested it with your reproducer.

[2019-03-11 22:54] zakkak commented on #186
Great, thanks a lot @dougxc. I tested the patch locally and I confirm that it works.
Please feel free to close this issue as soon as you push the change.

Note: I think you can  get rid of the `syslimit` variable and get a bit cleaner code.

[2019-03-28 22:35] peblpebl opened #188 "Cygwin"
I am trying to run in mx in cygwin, but am getting:
<pre>
WARNING: No platform-specific definition is available for library NINJA for your OS (cygwin)
library NINJA:
Library without "path" attribute must have a non-empty "urls" list attribute or "maven" attribute
</pre>
when just doing mx update.

<pre>
pebl@stationary /cygdrive/d/shared/git/mx
$ which ninja
/usr/bin/ninja
pebl@stationary /cygdriv

[2019-03-29 08:29] dougxc commented on #188
@peblpebl thanks for submitting.
@pejovica does that fix look right?

[2019-03-29 13:48] pejovica commented on #188
@peblpebl I'm not completely sure what are you trying to do, but `cygwin-amd64` should be a binary for Cygwin, and not for Windows. So, if you need a Cygwin ninja you could mark NINJA library as optional on Cygwin (like it is done for Solaris), in which case the binary from your environment will be picked up.

On the other hand, if you are trying to build for Windows (and only use Cygwin as a shel

[2019-03-31 12:39] peblpebl commented on #188
I am trying to build a native image of a java project. Given win in not supported yet, I have a virtualbox with ubuntu that shares a drive between guest/host. When I see that is working, I want to try to see how far I get with a native image of windows. Secondly I want to see how fast I can get a R script to run (it uses some fortran libs).  But I am currently stuck at mx eclipseinit as it fails w

[2019-04-01 11:41] dougxc opened #189 "remove support for cygwin"
The cygwin environment support in mx has always lagged behind support for other environments. I believe it was only added because that was the way someone first tried to use mx on Windows. In any case, I propose to remove support for this altogether. Note that this does not mean you cannot use cygwin with mx. It just means you cannot use the cygwin python executable to run mx but must use a standa

[2019-04-01 11:44] dougxc commented on #188
@peblpebl we are now considering to remove cygwin environment support altogether: https://github.com/graalvm/mx/issues/189
Can you please confirm that mx works for you when run with a standard Windows python executable.

[2019-04-08 20:44] hlolli opened #191 "Env variable MX_GIT_CACHE_DIR doesn't behave right?"
My goal is to compile graal community edition from sources with `mx` and I'm trying to do this with the package manager nix. There's already pre-existing patch for pre-fetching jar files for graal build.  What I want to achieve, is pre-fetching the git repositories like `https://github.com/graalvm/graaljs.git`, gather them into a cache directory and force the mx builder to run the whole thing in o

[2019-04-09 08:27] dougxc commented on #191
@sanzinger can you offer @hlolli any tips on how to his attempts to rely on or use `MX_GIT_CACHE_DIR`?

[2019-04-09 10:17] sanzinger commented on #191
Cache mode `refcache` is assuming that the `MX_GIT_CACHE_DIR` is a bare repository. It fetches all remote repositories in this bare repository. So you have multiple remotes in this repository with unrelated roots.

So to solve your problem you just need to point `MX_GIT_CACHE_DIR` to a non existent path (mx initializes with bare repository) or already initialized bare git repository:

First attemp

[2019-04-09 11:39] hlolli commented on #191
Ok I will have to do this differently. The problem I would encounter with the cache initializing a repository, is that it would be writing into a directory belonging to a build dependency, that's somewhat non-posix standard way of building things, but I get the point still of using git. If I copy the depndencies over into a temp build directory I could achieve this, and writing is fine, I try that

[2019-04-09 19:35] hlolli commented on #191
Just while I'm working on this I encountered another totally unrelated bug

[code]

note that I've been patching this file heavily so the line numbers aren't to be taken seriously, but it does really seem to me that hg_command isn't an attribute of the class HgConfig.

[2019-04-09 20:39] hlolli commented on #191
Now that I was able to get the cache set up (with patching) so that it can be imported, then later in the build process...
(note I did not trim the logs so please ignore the hashes leading up to directory names)

[code]

I'm surprised that a directory, that is so carefully version controled with `flock` on top of it, should be considered a writeable directory.

[2019-04-10 05:30] sanzinger commented on #191
Seems that the method `hg_command` was removed in
 d6b4900b5d759704cf13e3ce382a0ba13d7a8874. But do you even use hg repositories in your project? It is legacy code and afaik unlikely to be used.

I still don't understand why it is trying to store someting into the git cache? It is not intended to store anything else but just the git repo. I cannot see that this ever happened in our builds.

Do you

[2019-04-10 18:56] hlolli commented on #191
The hg command is herehttps://github.com/graalvm/mx/blob/master/mx.py#L5925 I got it by initializing fake hg repository to get the builder to read the revision tags. But I fixed it with a patch.

Like I said, I've been patching mx.py to extreame mesures to prevent it from doing any http calls. I'm just refactoring the MX_GIT_CACHE_DIR to behave like I want it to behave :-). Personally I've never e

[2019-04-10 18:56] #191 closed

[2019-04-26 21:46] pekd opened #192 "Proguard: impossible to optimize/shrink"
The `-dontshrink` and `-dontoptimize` options for Proguard are [hardcoded in mx](https://github.com/graalvm/mx/blob/72406c2cdb9a847222ce0ef7ddb60ec29b2d5511/mx.py#L1823). This makes it impossible to have a distribution that is optimized by Proguard. Is it possible to remove these two options from the default and make them opt-in, or at least provide a way to remove those options from the Proguard

[2019-05-05 14:31] slav9n4ik opened #193 "mx build fails with "AssertionError""
When I try "mx build" in dir with ../graal/compiler, I see this error. What is wrong?

[code]
**mx version**
5.216.1

**graal branch**
release/graal-vm/1.0

**java -version**
java version "11.0.2" 2019-01-15 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.2+9-LTS)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.2+9-LTS, mixed mode)

[2019-05-05 15:53] dougxc commented on #193
I'm having trouble reproducing this.

Can you please apply the patch below to mx and then attach the full output of `mx build` (at least the initial lines showing the values of `JAVA_HOME` and `EXTRA_JAVA_HOMES`):
[code]

[2019-05-05 19:16] slav9n4ik commented on #193
`~/Documents/graalProj/graal/compiler$ mx build`
Full output:
[code]
So, I copied all graal project from :

to the same directory with mx:

now it's work fine, thanks!

[2019-05-05 19:20] dougxc commented on #193
Glad you could resolve the problem.

[2019-05-05 19:20] #193 closed

[2019-06-09 17:31] neomatrix369 opened #194 "[Suggestion] Refactor mx.py, source file too large"
`mx.py` is growing rapidly and with this can be unreadable over time.

IDE like IntelliJ is slowing down parsing the contents. Besides that its best to separate the different aspects of `mx.py` into source files / modules of their own, just like the other mx_[xxx].py files out there.

I glanced through the code and here are some of the high-level parts we could split mx.py into:
- high-level tasks

[2019-06-10 15:17] dougxc commented on #194
Thanks for the offer @neomatrix369  Refactoring mx.py into smaller modules has been a long time, low priority task and it would great to get some help with that.

[2019-06-10 22:32] neomatrix369 commented on #194
Cool I'm onto it, just raised my first PR #195, although will raise the refactoring ones asap

[2019-06-10 23:46] neomatrix369 commented on #194
I have gone through the mx.py file - first pass, a quick glance and so far it appears that most of the classes and methods/functions in it are nearly state-machines, although I'm likely to be wrong.

Do you want to caution me about any areas where there might be tangles that I should avoid or keep for the last?

I'll try to group them together as much as possible and then split them. Some of them

[2019-06-11 07:38] dougxc commented on #194
One problem you will run into is that there's no clear indication of what parts of mx.py are used downstream and will break if those parts are moved elsewhere. In the Graal repo, this search provides some clues: https://github.com/oracle/graal/search?l=Python&q=mx.
I wonder if there's some tool to extract the API of mx.py by analyzing a bunch of repos that use it.

Disclaimer: This poor "labelling

[2019-06-11 21:36] neomatrix369 commented on #194
Thanks for all that info, I'll look into these things in the meanwhile before I raise a PR for refactoring.

I was curious to know about the answers to the below :
- is the travis build against each PR good enough to catch any issue (if not, most of the issues - so we know if a change during refactoring has broken `mx`?)
- are there plans to add more tests to the `mx` test suite and then run these

[2019-06-11 21:37] neomatrix369 commented on #194
See `mx.py` (internal) dependency graph from pycharm:

![mx-dir-ortho](https://user-images.githubusercontent.com/1570917/59308618-5fffdf00-8c99-11e9-9993-8beca6d0f533.png) (orthogonal)
![mx-just-classes](https://user-images.githubusercontent.com/1570917/59308619-60987580-8c99-11e9-9473-22cf99fe1d56.png) (std hierarchical)

[2019-06-11 21:40] dougxc commented on #194
Unfortunately the Travis gate for `mx` is very incomplete and so we mainly rely on testing mx on a number of downstream repos such as Graal internally. Testing your changes against Graal is therefore a good idea and will very roughly approximate the internal testing we do.

[2019-06-11 21:42] neomatrix369 commented on #194
Okay while we have this in place, I will try to add to the test suites, and see how I can best bring the flow from these other efforts into tests - so we have one central place to rely on.

[2019-06-14 18:35] neomatrix369 commented on #194
I'm trying to run the tests in the `tests` folder and so far not able to do it, I get this error:
[code]
Here's my scripts: https://github.com/neomatrix369/mx/tree/add-code-coverage-deps

[2019-06-14 18:41] dougxc commented on #194
Sorry, the person who wrote `tests/mx.mxtests` is no longer with the team and I'm not sure if anyone else remaining understands it (maybe @gilles-duboscq ?).

[2019-06-15 22:11] neomatrix369 commented on #194
What is the target python version expected in order to run `mx.py`?
Python 2.7?

A lot of the code in there represents Python 3.7, for eg. all the `print()` calls use `()` like in Python 3?

How as this been running in python 2.7? I think the downstream repos might have a mixed language approach as well - is that the case?

[2019-06-16 17:15] dougxc commented on #194
The target version is currently both Python 2.7 and 3.6 and we gate on both. This was done to enable the transition to Python3 with the pending EOL of Python 2. While currently mx itself works on both python version, Graal itself and all other GraalVM related repos are still in the process of becoming compatible with Python3.

[2019-06-17 00:09] neomatrix369 commented on #194
Thanks, that explains why I ran into version issues when I extracted a block of code from mx.py into its own source file. I also ran into version issue in one of the downstream source files when I switched to Python 3.7.

[2019-06-17 00:09] neomatrix369 commented on #194
@gilles-duboscq Any suggestions on what to do with the tests?

[2019-06-17 08:24] dougxc commented on #194
I spoke with @gilles-duboscq offline and we both agree you should just ignore `tests/mx.mxtests`. It doesn't even appear to contain any tests, but just infrastructure to write python based tests. We will remove this code to avoid further confusion.
If you want to add some testing, then the tests should be probably be written using the standard Python `unittest` module.

[2019-06-17 12:53] neomatrix369 commented on #194
Thats a good point and I agree, I was going to do the same, remove the folder and create a new one and yes using standard Python testing libraries unittest, coverage, etc...

[2019-06-20 23:38] neomatrix369 opened #198 "OpenJDK/JDK version string regex not matching for AdoptOpenJDK build"
The latest changes to `vm/mx.vm/mx_vm.py` gives this error:

[code]

See https://circleci.com/gh/neomatrix369/awesome-graal/557

Applying this change
https://github.com/neomatrix369/awesome-graal/blob/build-graalvm-suite/build/x86_64/linux_macos/lib/patch/mx_vm.py-VM-version-string-fix.patch, fixes the issue.

I'll create a PR with changes if you agree with the changes - is there a test that check

[2019-06-21 14:14] ansalond commented on #198
Hi @neomatrix369, thanks for the patch. Unfortunately it does not work with AdoptOpenJDK 11:
[code]

We do not have a test that checks across multiple JDKs, but I'm considering replacing these tests with something less problematic and more helpful. I'll keep you updated.

[2019-06-24 17:48] ansalond commented on #198
Hi @neomatrix369, can you please check if this fixes your problem?
https://github.com/oracle/graal/commit/10ec24f357950786e1f6754913b0ad0d28efdff9
Thanks!

[2019-06-26 14:37] neomatrix369 commented on #198
Thanks for getting back, sorry for the delay in reply, I will take a look at it and report back to you.

[2019-06-30 12:17] neomatrix369 commented on #198
The fix works good, I'll close the issue

[2019-06-30 12:17] #198 closed

[2019-08-01 16:59] pquiring opened #199 "PDB error when compiling graal/substratevm/com.oracle.svm.native.libchelper"
When compiling graal/substractevm/com.oracle.svm.native.libchelper on Windows using latest Windows SDK I get this errors:

`FAILED: cl -nologo -showIncludes -Ic:\graal\substratevm\src\com.oracle.svm.native.libchelper\include -Zi -O2 -D_LITTLE_ENDIAN -c c:\graal\substratevm\src\com.oracle.svm.native.libchelper\src\cSunMiscSignal.c -Fosrc\cSunMiscSignal.obj
c:\graal\substratevm\src\com.oracle.svm.na

[2019-09-26 04:51] oroppas opened #200 "mx fails on Windows with AdoptOpenJDK 11"
Hi,

I have trouble building graal on Windows with AdoptOpenJDK 11.

[code]

Here's how I build:

[code]

Herer's the full log:

[code]

[2019-09-26 07:06] dougxc commented on #200
Can you please see if this patch fixes it:
[code]

[2019-09-26 09:07] oroppas commented on #200
Here's what I got after applying the patch:

[code]

[2019-09-26 21:23] dougxc commented on #200
Ok, could you please try this patch:

[2019-09-27 01:29] oroppas commented on #200
After applying the patch, I still get the exact same error.
The problematic line

[code]

is

[code]

which does not contain space. So I think the patch should be

[code]

instead of

[code]

Assuming this fix is correct, I get

[code]

[2019-09-27 07:50] dougxc commented on #200
@pejovica can you please take this issue. The goal is to have a Graal repo checked out in a path that contains spaces, set JAVA_HOME to a JDK 11 whose installation path contains spaces and make `mx build` work in the `compiler` suite.

[2019-10-03 18:51] dougxc commented on #200
@oroppas I don't know what else to suggest as the above patch worked for me:
[code]
If you add `-v` to the `mx build` command (i.e. `mx -v build ...`) then the argfile passed to javac when compiling the module will be preserved. For example, mine is at `C:\Users\dsimon\graal space\graal\sdk\mxbuild\dists\jdk11\graal-sdk.jar.build\.common.javac_args`. Maybe you can attach your copy to this issue.

[2019-10-03 22:09] oroppas commented on #200
[common.javac_args.txt](https://github.com/graalvm/mx/files/3688247/common.javac_args.txt)

[2019-10-03 22:15] oroppas commented on #200
My apology. I forgot to revert the first patch of mapping pipes.quote on javac_args.

Here's the working patch

diff --git a/mx_javamodules.py b/mx_javamodules.py
index c6f01be..c91bf15 100644
--- a/mx_javamodules.py
+++ b/mx_javamodules.py
@@ -31,6 +31,7 @@ import re
 import zipfile
 import pickle
 import shutil
+import pipes
 from os.path import join, exists, dirname, basename

 from zipfile imp

[2019-10-03 22:18] dougxc commented on #200
For some reason, your version has extra quoting. For example:

Mine:
[code]

Yours:
[code]

To be sure you're using exactly the same mx code, can you please pull my branch from #201 and see if it works.

[2019-10-03 22:27] oroppas commented on #200
@dougxc ,

Yes, I pulled your branch and it works now. I mistakenly applied both first and second patches.
Thank you so much for your help. The issue is fixed now.

[2019-10-03 22:27] #200 closed

[2019-11-14 18:59] fniephaus opened #202 "[Windows] No module named mx_commands"
For some reason, I get the following error when running the latest `mx.cmd` on Windows and Python 3:

[code]

[2019-11-14 19:18] fniephaus commented on #202
Looks like this is caused by a misconfiguration on our side...sorry for the noise

[2019-11-14 19:18] #202 closed

[2019-11-15 08:56] fniephaus commented on #146
In the meantime, I came up with [this workaround](https://github.com/hpi-swa/graalsqueak/commit/0ec1394dca7c9dcb28166f58afb3bf763c56f32c) (cloning only the required commit *before* running `mx`). This seems to save approx. 3min per build job on Travis CI.

[2019-11-15 10:20] zakkak commented on #146
@fniephaus `MX_GIT_CACHE` is only useful to cache dependencies defined in your mx suite, so it doesn't have to fetch them all over again. If in your mx suite you define graal as a dependency and you use `MX_GIT_CACHE` (along with CI caching), then new builds won't need to clone graal every time. Not sure how well it works with dependencies were versions change often (and thus the cached repo needs

[2019-11-24 02:08] oroppas opened #204 "WARNING: Forward slash in path on windows"
[code]

[2019-11-28 17:15] eregon commented on #146
I noticed as well that cloning `graal` in TravisCI takes a very long time (250s = 4min10s):
https://travis-ci.org/oracle/truffleruby/builds/618237461

I think it would be useful to integrate @fniephaus's workaround in mx, what do you think @dougxc ?

[2019-11-28 17:26] dougxc commented on #146
So this just does a shallow clone? That would cause problems for mx operations on imported suites that need a full history. I don't know off the top of my head if the Travis gate includes such operations.

[2019-11-28 17:53] fniephaus commented on #146
This could just be an option (e.g. `--shallow-clone`) in case one doesn't need the full history for cloned suites.

[2019-11-28 17:57] dougxc commented on #146
Ok, sounds reasonable.

[2019-11-30 10:04] eregon commented on #146
Unfortunately, the `git fetch origin --depth 1 "${TRUFFLE_COMMIT}"` approach only works if the commit in question corresponds to a tag or a branch, at least for GitHub:
[code]

So that approach doesn't seem different than `git clone --branch vm-19.3.0 --depth 1 https://github.com/oracle/graal.git`, except that it allows passing a commit (of a branch or tag) instead of a branch or tag name.

The si

[2019-11-30 10:12] fniephaus commented on #146
Alternatively, it'd also be possible to download a zip from GitHub, for example https://github.com/oracle/graal/archive/cdcc1dbd9d5370b86b9fcf66401110d1b69d783e.zip.

[2019-11-30 10:40] eregon commented on #146
Interesting, there are also `.tar.gz` and they're only ~12MB in size (the `.zip` around 25MB).
But of course those don't include the `.git`, which a few things might rely on.

[2019-11-30 10:45] eregon commented on #146
Here is another idea, based on https://stackoverflow.com/a/43926596/388803 and `git fetch --shallow-since=DATE`.
For the date, we could use the last time the graal import was modified in `suite.py`, if always updating to latest graal, or get a few days of margin if not.

That seems quite fast, 7s + 9s (instead of 243s = 4min) for:
[code]
https://travis-ci.org/eregon/truffleruby/builds/618889445

[2019-11-30 10:49] eregon commented on #146
FWIW, I tried a `git gc --aggressive` in the graal repository:
[code]

So if we could convince GitHub to do something similar it might help quite a bit too.
`git gc` on the other did not help.

[2019-11-30 12:43] KOLANICH opened #205 "Make mx a python package"
* [ ] Put all the `*.py` files into an own dir;
* [ ] Rename to remove the prefixes;
* [ ] Figure out the repeating chunks of code, modularize and reuse them
* [ ] Create `setup.cfg` and entry_points in it to use the scripts as CLI tools.
* [ ] create a minimal `setup.py`, it shouldn't contain any metadata

[2019-11-30 13:05] KOLANICH opened #206 "Use JPype instead calling Java as a subprocess"

[2019-11-30 23:33] dougxc commented on #204
@ansalond I looked into this briefly and thought I had a simple fix:
[code]
This makes it work for the [paths](https://github.com/oracle/graal/blob/1c8c97cbd9216dce4c69c0cff5d5940f86a76309/truffle/mx.truffle/suite.py#L862-L863) in `TRUFFLE_NFI_NATIVE`. However, it breaks the [paths](LLVM_TOOLCHAIN) in `LLVM_TOOLCHAIN`:
[code]

[2019-12-02 01:35] chrisseaton opened #207 "Allow --java-home to be relative"
I think `--java-home` needs to be absolute, or it doesn't keep the relative directory when it changes working directory, but then it's hard to understand why it isn't working.

Could we relax that requirement, and allow it to be relative, perhaps by making it absolute when the `mx` command starts?

Failing that, could we warn the user when they give a relative path?

[2019-12-31 00:06] veganaize opened #208 "Error reading from maven repo"
I get this error when trying to build GraalVM 19.3 on a Travis CI Windows Server instance.  However I don't get the error when building on my local Windows dev machine...

`Error reading from https://repo1.maven.org/maven2/org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:581)>`

Build details...
https://travis-c

[2020-01-06 12:39] dougxc commented on #208
Maybe the Windows Travis machines are missing some CA certificates?

[2020-01-06 18:55] veganaize commented on #208
I am able to download from the same location, via `wget`, on the same Windows Server (Travis CI) instance, without messing with any certificates.  Digging in, it looks like the issue might actually be with Python / `mx`  --which I'd originally thought, but then became almost immediately embarrassed by, for thinking it, in the first place. ☺

So, anyway, the problem seems to be in or around the `do

[2020-01-06 19:19] dougxc commented on #208
Maybe try using python3 instead of python2?

[2020-01-14 18:56] eregon commented on #146
In GitHub Actions `ubuntu-latest`:
`git clone https://github.com/oracle/graal.git` (or `mx sforceimports`) takes 2min 36s.

`actions/checkout` is a huge help there:
[code]
takes 17 seconds.

[2020-04-21 21:51] zakkak opened #211 "--dependencies/--projects and --only appear to be mutually exclusive"
If both `--dependencies` (or `--projects`) and `--only` are given to `mx build`, `--dependencies/--projects` will be ignored (https://github.com/graalvm/mx/blob/master/mx.py#L13512-L13520).
As a result these options should be made mutually exclusive.

[2020-04-22 20:12] #211 closed

[2020-05-12 10:25] zakkak opened #217 "mx requires primary suite to be in a VCS repository"
## What happens:

mx fails to build suite when the suite is not in a VCS repository, which is often the case in CI/CD environments that use an archive of the source code instead of cloning the repository.

## How to reproduce:
[code]

## Current Workaround
[code]

Relates to #216

[2020-05-15 12:07] zakkak opened #218 "Passing additional cflags to native projects"
Hello,

I am trying to build [`com.oracle.svm.native.strictmath`](https://github.com/oracle/graal/tree/master/substratevm/src/com.oracle.svm.native.strictmath/src) with debug symbols.

How can I achieve this?

In general is it possible to extend CFLAGS for native projects? This would be handy.

Looking into ninja projects I didn't find any way other than changing the corresponding `suite.py`.

[2020-05-21 22:18] veganaize commented on #208
**Solved**: https://github.com/oracle/graal/issues/1887#issuecomment-573178130

[2020-05-21 22:18] #208 closed

[2020-06-05 12:15] zakkak commented on #218
`com.oracle.svm.native.strictmath` has now been removed from graalvm.

[2020-06-05 12:15] #218 closed

[2020-06-05 22:44] zakkak commented on #186
Fixed in https://github.com/graalvm/mx/commit/d38936ec19d56a30bc3d91d6705a2819494ca9f6

[2020-06-05 22:44] #186 closed

[2020-06-30 08:56] gilles-duboscq commented on #217
This is just hiding the problem: for example try building the `graal-nodejs` suite from https://github.com/graalvm/graaljs after taking `graal` and `graaljs` out of their git repo: it will get confused about where to find dependencies and either fail or try to re-clone some of the dependencies.

I don't think this can be solved without at least adding some marker files which tell `mx` where the re

[2020-06-30 11:33] zakkak commented on #217
I have toyed a bit with the suggestion about marker files (using `LICENSE` as the marker file) in https://github.com/zakkak/mx/commit/21b8a196eb4b8d43b412b5a3c900a0497fd2e61d and it seems to work.

If you are happy with this let me know so I can open a PR.
I think we should also decide what the marker file should be and possibly make it configurable (e.g. through some environment variable like `MX

[2020-06-30 14:02] gilles-duboscq commented on #217
What about we use one fixed name that we check into the repos? e.g., `.mx_vcs_root`.

Doing it like this will also require fixing all the code that assume suites have a working VCS both in mx and in exisiting suites.
An alternative is to provide a dummy VCS that works with the marker file. But maybe fixing all the places that assume a working VCS is more future-proof?

[2020-06-30 14:18] zakkak commented on #217
:+1: I am OK with that

Is there an easy way to find which suites are those?

I think I prefer the latter.

[2020-07-01 17:48] gilles-duboscq commented on #217
Looking for `\.vc(\.|$)` brings up a bunch of interesting matches, a lot in files from mx itself, some in the `sdk`, `substratevm`, and `compiler` suite of the `graal` repo as well as in the `graalpython` repo.

[2020-07-02 14:50] zakkak opened #223 "Travis CI not running on master branch"
Last run seems to be 3 years ago https://travis-ci.org/github/graalvm/mx/builds

Why is that? Could someone please re-enable it?

PS: I am volunteering to port the existing configuration to github-actions.

[2020-07-02 15:18] dougxc commented on #223
If you tell me how to re-enable it, I will ;-) Each time I have to configure Travis integration with GitHub, everything about how to do it seems to have changed.

[2020-07-02 15:24] zakkak commented on #223
For mandrel (also under graalvm org) I just had to visit https://travis-ci.org/account/repositories searched for mandrel and clicked on the toggle on the right.

![image](https://user-images.githubusercontent.com/1435395/86377609-34c7a380-bc91-11ea-85b9-87d3049220c1.png)

[2020-07-02 15:26] zakkak commented on #223
The funny think is that travis was building mandrel even before enabling it :/

[2020-07-02 15:29] zakkak commented on #223
OK so travis-ci.org is different from travis-ci.com
I have no idea how to configure travis-ci.com (it doesn't even show me my repos)

[2020-07-02 15:36] dougxc commented on #223
Don't know what the problem is here:
<img width="701" alt="Screen Shot 2020-07-02 at 17 35 43" src="https://user-images.githubusercontent.com/5080087/86378976-891b5500-bc8a-11ea-8d23-74cdbc94a0d0.png">

[2020-07-02 15:39] zakkak commented on #223
Any objections to moving to github actions?
It should be straight forward (last famous words) :)

[2020-07-02 16:10] zakkak commented on #223
PoC https://github.com/zakkak/mx/commit/c0ae55f06c89a2afc349de5f8e45544d848da19c

[2020-07-09 10:23] zakkak opened #225 "mx fails to pick primary suite if two directories containing graal are present in the same directory"
## Issue

mx fails to pick primary suite if two directories containing graal are present in the same directory, e.g.

[code]

## How to reproduce

[code]

Result:
[code]

Same hapens with: `mx --primary-suite-path=./substratevm native-image`

[2020-07-09 10:46] zakkak commented on #225
The following patch makes it work, but I am not sure it doesn't break other stuff.

[code]

[2020-07-10 15:33] ansalond commented on #225
Hi @zakkak, thanks for your report and the proposed patch.

Sibling suites are not limited to the vc root of the primary suite, as your proposed changes assume here:
[code]

Example:
[code]

We could patch mx to prefer suites that are defined in the primary vc root over suites with the same name that are defined in other vc roots, but it would make things inconsistent and, I believe, more surprisi

[2020-07-10 20:57] zakkak commented on #225
Hi @ansalond

TBH I would expect `graal` to be under `graaljs` or vice versa (and actually that's what `mx build` in graaljs does if graal is not fount), I personally don't see why it needs to support them as siblings in the same directory (I guess it helps during development though).

I guess so, at least until I come across another command doing something similar :)

I wonder if we could make `m

[2020-07-13 13:16] ansalond commented on #225
Sorry for the rather long reply. You are asking interesting and non-trivial questions and I'm trying to be clear about how things work.

Please note that `graaljs` does not define an mx suite and you cannot run `mx build` from there:
[code]

`graaljs/graal-js` defines an mx suite. If you run `mx build` from there, `graal` gets cloned next to the `graaljs` clone (in `../../graal`). Continuing the p

[2020-07-13 18:45] zakkak commented on #225
No problem. Thank you for taking the time to reply to these.

Ohhh, it looks like I previously used my patched `mx`, which clones graal under graaljs, sorry for that.

+1 for avoiding submodules

As you point out the current setup makes it easy to work with multiple suites with complex hierarchies, but makes it hard to work with multiple versions of the same suite in that hierarchy, e.g. trying to

[2020-07-14 08:15] ansalond commented on #225
In https://github.com/oracle/graal/commit/716c3a68b04f424929356de323c880c8ec7326b8 I patched `mx native-image` to avoid unnecessary dynamic imports. The general advice is still to avoid duplication of mx suites in the same workspace directory, but your example now works:
{noformat}
$ git clone --depth 1 git@github.com:oracle/graal.git graal1
$ git clone --depth 1 git@github.com:oracle/graal.git gr

[2020-07-14 08:54] zakkak commented on #225
Great, thanks @ansalond !

[2020-07-14 08:54] #225 closed

[2020-08-06 12:21] #217 closed

[2020-09-15 11:01] zakkak commented on #223
mx is now using GH actions.

[2020-09-15 11:01] #223 closed

[2020-09-19 21:36] davidmrdavid opened #228 "Uninformative error when running latest mx build"
Hello folks,

I just cloned the latest master from this repo and, after trying to run `mx`, I'm seeing the following exception:

[code]

My JAVA_HOME is pointing to `openjdk1.8.0_242-jvmci-20.0-b02`

My question is: what's wrong and how can I get mx operational again? I want it to build the latest FastR

Thanks!

[2020-09-19 22:12] hamidelmaazouz commented on #163
Is there any way to generate it ? What about the other files and directories that come with it ? I am also trying it out and have no clue what all those sections mean.

[2020-09-21 09:57] ansalond commented on #228
Hi @davidmrdavid, thanks for your report.

The metavar modified by https://github.com/graalvm/mx/commit/e50f71422a457430443a0a841b410a76799dfd27 introduced a regression on old versions of `argparse`. I don't know which version fixed the issue, but it works with Python 2.7.18 and Python 3.8.5.

If you cannot update your Python version, this should work:
[code]

However, you will probably need Pytho

[2020-09-21 16:08] davidmrdavid commented on #228
That works for me, I'll try this later and re-open if it didn't work. thanks!

[2020-09-21 19:46] davidmrdavid commented on #228
Just a heads up, I can't seem to get it working with `python 3.8.5`

As per the trace below:
[code]

[2020-09-21 19:48] davidmrdavid commented on #228
But the fix manual you suggested does work! Feel free to close this issue, I just wanted to communicate that the python upgrade did not fix it :)

[2020-09-22 09:02] ansalond commented on #228
I'm sorry, I should have mentioned earlier that the [`mx` script](https://github.com/graalvm/mx/blob/master/mx#L55-L65) by default tries to run `mx.py` on a `python2.7` or a `python2` executable in `$PATH`.

This is why, even if you have a Python 3 `python` executable in `$PATH`, your stack trace shows that you are still running with Python 2.7:
[code]

Assuming that you also have `python3` in `PA

[2020-09-22 14:03] ansalond commented on #228
Fixed in https://github.com/graalvm/mx/commit/99a0855b960c3e3fb8d8af0a2f378ebd6598a342.

[2020-09-22 14:03] #228 closed

[2021-03-04 21:17] zakkak opened #231 "`mx -V clean` fails in graal/compiler"
It looks like since https://github.com/graalvm/mx/commit/ca183078ca65a7135d46b9859d1dce412aa32d8e `mx -V clean` fails in graal/compiler

**To reproduce:**
[code]

**Output:**
[code]

[2021-03-05 08:40] dougxc commented on #231
Here's the fix:
[code]

I'll integrate it to mx asap.

[2021-03-05 09:54] dougxc commented on #231
Should be fixed by 6da7f71646a.

[2021-03-05 09:54] #231 closed

[2021-03-05 11:48] zakkak commented on #231
Thanks for the quick fix @dougxc

[2021-03-13 09:05] jimmysuncpt opened #232 "When to support ARM 64?"
When I run `mx` on my MacBook M1, it warns that "unknown or unsupported architecture: os=darwin, machine=arm64".
So, is there any plan to support ARM 64?

[2021-03-14 19:56] dougxc commented on #232
Eventually mx will support this architecture. Currently, no one on the GraalVM team (that I'm aware of) has such a machine. Maybe you want to submit a PR?
If you are asking about GraalVM support for M1 (as opposed to mx support), then that will be quite some more effort but it's also something we plan to support as resources become available.

[2021-03-30 11:28] ansalond commented on #204
Some time ago we merged some changes to mx (graalvm/mx@94903a9) and graal (580ba3f). The issue should now be fixed.

[2021-03-30 11:28] #204 closed

[2021-05-04 08:35] sscarduzio commented on #205
no plan to move to Python 3?

[2021-05-04 09:52] dougxc commented on #205
Mx already supports python 3. We'd like to remove all python2 support from the code but this is taking a while.
While I would also love to see mx become a proper python package, this is so far down the list of priorities that I fear it will never happen. I'll re-open this issue should we ever find time to do something about it.

[2021-05-04 09:52] #205 closed

[2021-06-22 19:20] zakkak opened #238 "mx fetch-jdk failure with python2"
Running `mx fetch-jdk` without setting `MX_PYTHON` or `MX_PYTHON_VERSION` results in the following failure.

[code]

[2021-06-22 20:26] zakkak commented on #238
Closing as:

source: https://github.com/graalvm/mx/pull/239#issuecomment-866299285

[2021-06-24 10:20] zakkak commented on #238
Fixed by https://github.com/graalvm/mx/commit/fe5916d4eaeae8d7e4548b58a90a7105798806fb

[2021-06-24 10:20] #238 closed

[2021-11-26 15:31] galderz opened #247 "Running mx with python 2.x gives misleading errors"
Trying to build graalvm 21.3 branch with `mx` and python 2.7.18 throws the following error:

[code]

The jars are available online and the local `~/.mx` folder is writable, but the downloads fail. Running with `MX_PYTHON_VERSION=3` makes the downloads work.

[2021-11-26 15:34] dougxc commented on #247
Without looking into the problem, can you workaround this by just using python 3? BTW, the preferred mechanism is `MX_PYTHON=python3`.

[2021-11-26 15:42] galderz commented on #247
Either of those options get passed the issue, but now I'm seeing some other error:

[code]

[2021-11-26 15:47] dougxc commented on #247
@pejovica is pushing a solution for that to mx. Until it lands, you can roll back mx: `git -C /path/to/mx checkout 5.310.0`

[2021-11-26 16:23] galderz commented on #247
@dougxc Oh nice, thx for that. I did not realise that the source code had some metadata to fix the mx version.

[2022-01-05 21:11] nirvdrum commented on #247
I started seeing this same problem after the macOS 12 upgrade. Setting `MX_PYTHON=python3` worked around the problem, but it's a non-obvious solution and usually means someone burns time trying to figure it out. If it's not fixable in mx, should `python3` just be favored if it exists?

[2022-01-06 13:10] dougxc commented on #247
We're actively working on dropping python2 support completely from mx so this should be a non-issue in the next month or two.

[2022-01-06 23:20] dougxc opened #249 "drop python2 support"
Given that Python 2 EOL'ed on 1.1.2020 (https://pythonclock.org/), it's time to drop python2 support from mx.

All major mx suites in the GraalVM project already support python3. Now python2 support just needs to be removed from mx. To maximize availability of Python features for use in mx, the new minimum required python version should be one that has been out for at least a year. According to ht

[2022-01-11 17:55] zakkak commented on #249
I guess you mean "According to https://endoflife.date/python **Python 3.9** meets...", right?

[2022-01-11 20:19] Yuhala opened #250 "mx Assertion Error"
I am trying to build the base GraalVM CE image following the instructions in the github readme, using the latest version of mx. However mx keeps producing the error below:

[code]

This happens each time I run the mx command inside a GraalVM suite folder i.e vm, truffle, substratevm etc. I have added mx to the PATH and the JAVA_HOME points to openjdk1.8.0_302-jvmci-20.3-b23. The root graal folder(

[2022-01-11 20:53] fniephaus commented on #250
You're using an outdated JVMCI-enabled JDK. Note that JDK8 is no longer supported. Please try again with the latest labs-openjdk-11 from: https://github.com/graalvm/labs-openjdk-11

[2022-01-12 08:21] Yuhala commented on #250
I have tested with `labsjdk-ce-11.0.14-jvmci-20.3-b26` but I have the same error.

[2022-01-12 08:37] fniephaus commented on #250
20.3 is still too old if you want to build master. Currently, we are at 22.0 or even 22.1:

https://github.com/oracle/graal/blob/a46779dea4fb58057529d6a1506630a0a1d8067f/common.json#L11

[2022-01-12 09:04] Yuhala commented on #250
Thanks, it works now with 22.0.

[2022-01-12 09:24] #250 closed

[2022-01-12 09:24] fniephaus commented on #250
Glad to hear! Whenever "mx build" fails for me, I usually run "mx update" and if that doesn't fix it, I pull the latest LabsJDK and retry.

[2022-01-12 09:31] zakkak commented on #249
@dougxc we run `mx` in some RHEL 7 systems which [provide Python packages up to 3.8](https://access.redhat.com/documentation/en-us/red_hat_software_collections/3/html/3.8_release_notes/chap-rhscl#sect-RHSCL-Features). As a result, we would like to request the new minimum required python version to be 3.8 instead of 3.9.

This will still mean ~2.5 years till EOL, and bumping the requirement to 3.9

[2022-01-12 10:23] dougxc commented on #249
We've already invested quite some time getting Python 3.9.9 installed and available on all our internal CI machines. Is it not possible to have 3.9 installed on the systems on which you build GraalVM?

[2022-01-12 10:28] zakkak commented on #249
That would require upgrading those systems to RHEL-8. Let me see whether that's possible and what the possible implications of it would be and get back to you.

[2022-01-12 16:35] zakkak commented on #249
I confirmed that in case of need it will be possible to upgrade our systems to RHEL-8.
So although we would prefer to stick to python 3.8 and RHEL-7 a work around is possible for when we will need it :)

[2022-01-12 17:15] dougxc commented on #249
That's great to hear. I think it's important to buy ourselves as much time as reasonably possible in terms of python version changes so we'll stick with the plan of moving to 3.9 as the minimum.

[2022-01-12 19:35] zakkak opened #251 "mx doesn't support `http_proxy`s requiring authorization (aka following the format `http://user:password@host:port`)"
`mx` appears to only support unauthorized `http_proxy`s following the format `http://host:port` while it should also support `http://user:password@host:port` and set `http.proxyUser` and `http.proxyPassword` accordingly.

The code at fault is:
https://github.com/graalvm/mx/blob/29c0debab406352df3af246be2f8973be5db69ae/mx.py#L12966-L12981

and
https://github.com/graalvm/mx/blob/29c0debab406352df3af

[2022-01-14 15:32] fniephaus commented on #232
Feel free to follow https://github.com/oracle/graal/issues/2666 for updates on M1 support.

[2022-01-17 13:42] zakkak opened #253 "mx generates manifest entries longer than 72 words"
According to [JAR File Specification](https://docs.oracle.com/en/java/javase/17/docs/specs/jar/jar.html#notes-on-manifest-and-signature-files)

However, `mx` appears to be generating longer lines, e.g.:

[code]

As found in the manifest of [svm-21.3.0.jar](https://repo1.maven.org/maven2/org/graalvm/nativeimage/svm/21.3.0/svm-21.3.0.jar)

[2022-02-02 20:39] Speak2Erase opened #254 "MX will occasionally fail to find .mx_vcs_root in some circumstances"
I might be in the wrong proposing this, but after I made this small edit, it fixed the problem for me.
I'm trying to set up a conan recipe for truffleruby (yeah i know its java and conan is for c++ but truffleruby supports the ruby C api and conan is a pretty nice way of managing C/C++ dependencies) and I was getting a really weird build error that did not make much sense, I was not getting the er

[2022-02-03 20:57] nassimus26 opened #255 "windows build fails"
Building on windows 10 return this :

[code]

[2022-02-03 21:32] #255 closed

[2022-02-07 09:11] zakkak commented on #249
Hi @dougxc, is there any ETA or update on this?

[2022-02-07 09:17] dougxc commented on #249
I plan (hope!) to complete the transition to 3.9 by the end of Feb.

[2022-03-16 16:47] dougxc commented on #249
Update: Due to headaches we're still having getting python 3.9 on all our CI machines, we're probably going to drop back to 3.8 as the minimum required version.

[2022-03-21 09:23] chrisseaton opened #257 "fetch-jdk doesn't store the arch in the directory name, so different architectures get confused"
For example `/Users/chrisseaton/.mx/jdks/labsjdk-ce-11-jvmci-22.1-b03/` is that AMD64 or AArch64?

[2022-03-22 09:03] dougxc commented on #257
How is this resolved for JDKs installed under `/Library/Java/JavaVirtualMachines`? It would be best to adopt an existing solution to this problem.

[2022-03-22 09:21] chrisseaton commented on #257
I think they assume you use a JDK for your native architecture, so no solution.

But I can't use a JDK for my native architecture until Sulong catches up. Just a temporary solution needed.

[2022-03-22 09:51] dougxc commented on #257
Given that fetch-jdk will use the [native platform](https://github.com/graalvm/mx/blob/master/mx_fetchjdk.py#L450) in deciding which binary to download, this is more than just about disambiguating on the installation directory name.
That is, I don't fetch-jdk can support this use case without non-trivial changes. Since we're only talking about a temporary situation, hoping doing the download manua

[2022-03-22 11:40] chrisseaton commented on #257
On macOS the native platform can be either AArch64 or AMD64, on the same machine at the same time. The correct binary is downloaded in both cases. It just goes into the same place.

[2022-04-14 11:20] petermz opened #258 "Make `_stage_file_impl` handle both files and directories"
`_stage_file_impl` calls `shutil.copy` which can only copy files:
https://github.com/graalvm/mx/blob/39ac3b71912af1edf04f7413adf36a74550c09bb/mx_jardistribution.py#L1437

But AFAICT it is expected to copy directories too, see e.g.:
https://github.com/graalvm/mx/blob/39ac3b71912af1edf04f7413adf36a74550c09bb/mx.py#L7680

I'm not sure how this works for everyone else; for me it fails on Windows very

[2022-04-14 11:44] dougxc commented on #258
The underlying problem here is that the support for Windows is not well tested when Windows is running in non-developer mode and thus [does not support proper symlinks](https://blogs.windows.com/windowsdeveloper/2016/12/02/symlinks-windows-10/).
I propose that instead of continuing to try support this, we just make it a requirement for Windows to be in developer mode to use mx.
Not being a Windows

[2022-04-29 15:25] #258 closed

[2022-04-29 15:26] dougxc commented on #249
This has (finally!) been resolved by 0187b719fbd219fb15ade2cfe84492539b0f57c0

[2022-04-29 15:26] #249 closed

[2022-04-29 15:27] dougxc commented on #247
Closing since python2 support has now been [removed](https://github.com/graalvm/mx/commit/0187b719fbd219fb15ade2cfe84492539b0f57c0).

[2022-04-29 15:27] #247 closed

[2022-05-12 07:04] lewurm commented on #257
I worked around it by just not using `mx fetch-jdk`. The situation is kind of temporary, and I don't think this will be a problem in 1-2 years from now.

My helper (note that it also sets `MX_PYTHON` accordingly):
[code]
Where `$HOME/jdks` looks like this:
[code]
Usage:
[code]
Note how the prompt of my shell picks up `$GRAALVM_PROFILE` accordingly. I hope this helps.

[2022-05-31 09:16] 98DE9E1F opened #262 "urlopen error SSL: CERTIFICATE_VERIFY_FAILED"
i'm use mx behind a proxy like

` export http_proxy=http://localhost:7890/
 export https_proxy=$http_proxy`

[2022-07-03 10:13] ningpengtao-coder opened #265 "call getKnownJavacLints error when locale language is chinese"
reason:
When compiling graalvmjdk, mx calls getKnownJavacLints if the local language is Chinese, it will cause UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbf in position 19: invalid start byte, and there is no problem if the local language is English
resolution:
Add errors="ignore" named parameter to ignore errors when decoding strings

[2022-07-07 12:12] zakkak opened #266 "Missing tags 6.1.6-6.1.9"
The tags 6.1.6 to 6.1.9 are not pushed on github

[2022-08-05 08:06] oraluben opened #267 "The new changes about `javaPreviewNeeded` have issue"
Commit: https://github.com/graalvm/mx/commit/631ae1fad2b46b45730eb54da6bfec49f6a51888

It will get following error with
[code]
:
[code]

I understand what's going on but it seems tricky to have a proper fix.

Reproducer commit:
https://github.com/oraluben/loom-test/commit/c4a5e90b125cf3b12739e3e3585fd6bf68afbbb1

[2022-08-05 08:07] oraluben commented on #267
How about this?
[code]

[2022-08-05 08:10] dougxc commented on #267
cc @peter-hofer

[2022-08-05 08:34] peter-hofer commented on #267
Hi @oraluben, `javaPreviewNeeded` applies to javac compilation. It does not seem right that your project is Java 17-compliant, but needs preview features to compile on Java 19 and later.
Image builds are a separate concern because preview features have to be enabled even for a Java 17 project that uses our internal virtual thread interfaces when building on JDK 19 because then we use Loom to imple

[2022-08-05 08:40] oraluben commented on #267
That makes sense. And if that's the case, wouldn't `JavaCompliance` be a boolean more reasonable, rather than a `JavaCompliance`?

[2022-08-05 09:04] peter-hofer commented on #267
Let's say we have a project with tests for JDK 19 and later, but it needs preview features on JDK 19 and 20, we can specify:
[code]
With only a boolean, we would enable preview features even on 21 and after.

[2022-08-05 09:49] oraluben commented on #267
I see, that makes much more sense, thanks!

[2022-08-05 09:49] #267 closed

[2022-09-07 22:36] kjeet opened #268 "404 on mx fetch-jdk"
When running: `$ ./mx fetch-jdk`, the output looks like:
[code]

The URL it can't find is: `https://github.com/graalvm/labs-openjdk-17/releases/download/jvmci-22.3-b04/labsjdk-ce-17.0.5%2B3-jvmci-22.3-b04-darwin-amd64.tar.gz.sha1`

Taking a look at the release page, `https://github.com/graalvm/labs-openjdk-17/releases`, the real page looks like: `https://github.com/graalvm/labs-openjdk-17/releases

[2022-09-07 22:49] kjeet commented on #268
Ah, it looks like the release might still be underway possibly. Must have just caught it at a weird time?

[2022-09-07 22:49] #268 closed

[2022-10-14 21:15] Karm opened #270 "Windows failure, works with 6.9.1, fails 6.9.7"
Hello,
Our Jenkins build on Windows 2019 server, VS 2019 has been running just fine for months, GraalVM (Mandrel distribution) 21.3, 22.x, master...   Up until some mx updates I haven't yet took the time to bisect.

### Logs
OK are fine, NOK have the same failure record...

* [mx-6.9.7-jdk11-mandrel-22.3-0fce31f57d4-NOK.txt.zip](https://github.com/graalvm/mx/files/9790084/mx-6.9.7-jdk11-mandrel-22

[2022-10-16 14:07] dougxc commented on #270
Mx is now a [versioned dependency](https://github.com/oracle/graal/blob/379f8855050b04d41fd43391ed19eddfacaf5d50/common.json#L4), like all other dependencies.

You probably need to fix it like we did for the GitHub actions gate: https://github.com/oracle/graal/blob/master/.github/workflows/main.yml#L116